<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Evento</title>
    <meta name="description" content="One page Bootstrap 4 theme to show What&#39;s new in Bootstrap 4. Discover new features like cards, the xl grid tier, em sizing and how to convert from Bootstrap 3." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">

    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet" />

    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->

    <!-- inject:js -->
    <script src="/js/scripts.js"></script>
    <!-- endinject -->


</head>

<body class="bg-faded">
    <nav id="topNav" class="navbar fixed-top navbar-toggleable-sm">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span>☰</span>
        </button>
            <div class="collapse navbar-collapse" id="collapsingNavbar">
                <ul class="navbar-nav">
                    <% for(var i=0; i<nav.length;i++) {%>
                        <li class="nav-item">
                        <a class="nav-link page-scroll" href="<%=nav[i].Link%>"><%=nav[i].Text%></a>
                        </li>
                    <%}%>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" data-toggle="modal" title="A free Bootstrap theme" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="Eventos">
        <div class="container wow fadeInUp">
            <h2>Evento</h2>
            <div class="card-group">
                
                        <div class="card">
                            <img class="card-img-top img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample13.jpg" alt="Card image cap">
                            <div class="card-block">
                                <form name="updateEventForm" action="/Eventos/evento/<%=evento.id%>" method="post">
                                <div class="modal-body text-left">
                                    <%if (evento !== undefined) {%>
                                    <label>Descripción:</label>
                                    <input name = "descripcion" id="descripcion" value="<%=evento.descripcion%>"><br>
                                    <label>Fecha de Inicio: </label>
                                    <input name = "fechainicio" id="fechainicio" type="datetime-local" value="<%=evento.fechainicio%>"><br>
                                    <label>Fecha Final: </label>
                                    <input name = "fechafin" id="fechafin" type="datetime-local" value="<%=evento.fechafin%>"><br>
                                    <label>Estado: </label>
                                    <input name = "estado" id="estado" value="<%=evento.estado%>"><br>
                                    <input name = "id" id="id" type="hidden" value="<%=evento.id%>">
                                    <input type="hidden" name="_method" value="put"/>
                                    <div class="modal-body text-center">
                                        <input class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3" type = "submit" value="Modificar">
                                    </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </section>
    
    <!--scripts loaded here-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>

</body>

</html>